### Additional Weather Data Collection ###

A huge thanks to [Iowa Environmental Mesonet](https://mesonet.agron.iastate.edu/request/download.phtml?network=IL_ASOS#), especially Daryl Herzmann, for providing a solid archive and [script](https://github.com/akrherz/iem/blob/master/scripts/asos/iem_scraper_example.py) to obtain the data.

Approximate Runtime: 10 minutes

In [1]:
"""
Example script that scrapes data from the IEM ASOS download service
"""
from __future__ import print_function
import json
import time
import datetime
import pandas as pd
import numpy as np
# Python 2 and 3: alternative 4
try:
    from urllib.request import urlopen
except ImportError:
    from urllib2 import urlopen

# Number of attempts to download data
MAX_ATTEMPTS = 6
# HTTPS here can be problematic for installs that don't have Lets Encrypt CA
SERVICE = "http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?"

In [2]:
def download_data(uri):
    """Fetch the data from the IEM
    The IEM download service has some protections in place to keep the number
    of inbound requests in check.  This function implements an exponential
    backoff to keep individual downloads from erroring.
    Args:
      uri (string): URL to fetch
    Returns:
      string data
    """
    attempt = 0
    while attempt < MAX_ATTEMPTS:
        try:
            data = urlopen(uri, timeout=300).read().decode('utf-8')
            if data is not None and not data.startswith('ERROR'):
                return data
        except Exception as exp:
            print("download_data(%s) failed with %s" % (uri, exp))
            time.sleep(5)
        attempt += 1

    print("Exhausted attempts to download, returning empty data")
    return ""


def get_stations_from_filelist(filename):
    """Build a listing of stations from a simple file listing the stations.
    The file should simply have one station per line.
    """
    stations = []
    for line in open(filename):
        stations.append(line.strip())
    return stations

In [3]:
# timestamps in UTC to request data for
startts = datetime.datetime(2017, 1, 1)
endts = datetime.datetime(2019, 8, 27)

service = SERVICE + "&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&" + \
                    "tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&"

service += startts.strftime('year1=%Y&month1=%m&day1=%d&')
service += endts.strftime('year2=%Y&month2=%m&day2=%d&')

# Two examples of how to specify a list of stations
#stations = get_stations_from_filelist("airport_list.txt")
stations = ['CAK', 'AKC', 'ALB', 'ABQ', 'ANC', 'ATW', 'ATL', 'ACY', 'AUS', 'BWI', 'BGR', 'BHM', 'BOI', 'BOS', 'BUF', 'CLT', \
            'CHS', 'MDW', 'ORD', 'CVG', 'CLE', 'CMH', 'LCK', 'DFW', 'DAY', 'DEN', 'DSM', 'DTW', 'FAI', 'FLL', 'RSW', 'FAT', \
            'BDL', 'GRB', 'GSO', 'ITO', 'HNL', 'IAH', 'HOU', 'HSV', 'IND', 'JAX', 'JNU', 'MCI', 'KTN', 'EYW', 'KOA', 'TYS', \
            'LAL', 'LAN', 'LAS', 'LIT', 'LAX', 'SDF', 'MLB', 'MEM', 'MIA', 'MAF', 'MKE', 'MSP', 'MYR', 'BNA', 'MSY', 'JFK', \
            'LGA', 'EWR', 'SWF', 'ORF', 'OAK', 'OKC', 'OMA', 'ONT', 'SNA', 'MCO', 'SFB', 'PSP', 'ECP', 'PNS', 'PHL', 'PHX', \
            'AZA', 'PIT', 'PWM', 'PDX', 'PVD', 'RDU', 'RNO', 'RIC', 'RST', 'ROC', 'RFD', 'SMF', 'SLC', 'SAT', 'SBD', 'SAN', \
            'SFO', 'SJC', 'SRQ', 'SAV', 'LKE', 'BFI', 'SEA', 'PAE', 'GEG', 'STL', 'PIE', 'SYR', 'TLH', 'TPA', 'DCA', 'IAD', \
            'PBI', 'AVP', 'ILM']
stations[0] = ''.join([c for c in stations[0] if ord(c) < 128])
stations.sort()

weather_df = pd.DataFrame()
for station in stations:
    uri = '%s&station=%s' % (service, station)
    print('Downloading: %s' % (station, ))
    data = download_data(uri).split('\n')
    data[:] = [list(d.split(',')) for d in data]
    if len(data) > 2:
        weather_df = weather_df.append(pd.DataFrame(data[1:], columns=data[0]))

# Uncomment the code below if you'd like to store the raw data within a file
#     out = open('weather_full_unaggregated.csv', 'a')
#     out.write(data)
#     out.close()
    print('Finished: %s' % (station, ))

Downloading: ABQ
Finished: ABQ
Downloading: ACY
Finished: ACY
Downloading: AKC
Finished: AKC
Downloading: ALB
Finished: ALB
Downloading: ANC
Finished: ANC
Downloading: ATL
Finished: ATL
Downloading: ATW
Finished: ATW
Downloading: AUS
Finished: AUS
Downloading: AVP
Finished: AVP
Downloading: AZA
Finished: AZA
Downloading: BDL
Finished: BDL
Downloading: BFI
Finished: BFI
Downloading: BGR
Finished: BGR
Downloading: BHM
Finished: BHM
Downloading: BNA
Finished: BNA
Downloading: BOI
Finished: BOI
Downloading: BOS
Finished: BOS
Downloading: BUF
Finished: BUF
Downloading: BWI
Finished: BWI
Downloading: CAK
Finished: CAK
Downloading: CHS
Finished: CHS
Downloading: CLE
Finished: CLE
Downloading: CLT
Finished: CLT
Downloading: CMH
Finished: CMH
Downloading: CVG
Finished: CVG
Downloading: DAY
Finished: DAY
Downloading: DCA
Finished: DCA
Downloading: DEN
Finished: DEN
Downloading: DFW
Finished: DFW
Downloading: DSM
Finished: DSM
Downloading: DTW
Finished: DTW
Downloading: ECP
Finished: ECP
Downloading: EWR
Finished: EWR
Downloading: EYW
Finished: EYW
Downloading: FAI
Finished: FAI
Downloading: FAT
Finished: FAT
Downloading: FLL
Finished: FLL
Downloading: GEG
Finished: GEG
Downloading: GRB
Finished: GRB
Downloading: GSO
Finished: GSO
Downloading: HNL
Finished: HNL
Downloading: HOU
Finished: HOU
Downloading: HSV
Finished: HSV
Downloading: IAD
Finished: IAD
Downloading: IAH
Finished: IAH
Downloading: ILM
Finished: ILM
Downloading: IND
Finished: IND
Downloading: ITO
Finished: ITO
Downloading: JAX
Finished: JAX
Downloading: JFK
Finished: JFK
Downloading: JNU
Finished: JNU
Downloading: KOA
Finished: KOA
Downloading: KTN
Finished: KTN
Downloading: LAL
Finished: LAL
Downloading: LAN
Finished: LAN
Downloading: LAS
Finished: LAS
Downloading: LAX
Finished: LAX
Downloading: LCK
Finished: LCK
Downloading: LGA
Finished: LGA
Downloading: LIT
Finished: LIT
Downloading: LKE
Finished: LKE
Downloading: MAF
Finished: MAF
Downloading: MCI
Finished: MCI
Downloading: MCO
Finished: MCO
Downloading: MDW
Finished: MDW
Downloading: MEM
Finished: MEM
Downloading: MIA
Finished: MIA
Downloading: MKE
Finished: MKE
Downloading: MLB
Finished: MLB
Downloading: MSP
Finished: MSP
Downloading: MSY
Finished: MSY
Downloading: MYR
Finished: MYR
Downloading: OAK
Finished: OAK
Downloading: OKC
Finished: OKC
Downloading: OMA
Finished: OMA
Downloading: ONT
Finished: ONT
Downloading: ORD
Finished: ORD
Downloading: ORF
Finished: ORF
Downloading: PAE
Finished: PAE
Downloading: PBI
Finished: PBI
Downloading: PDX
Finished: PDX
Downloading: PHL
Finished: PHL
Downloading: PHX
Finished: PHX
Downloading: PIE
Finished: PIE
Downloading: PIT
Finished: PIT
Downloading: PNS
Finished: PNS
Downloading: PSP
Finished: PSP
Downloading: PVD
Finished: PVD
Downloading: PWM
Finished: PWM
Downloading: RDU
Finished: RDU
Downloading: RFD
Finished: RFD
Downloading: RIC
Finished: RIC
Downloading: RNO
Finished: RNO
Downloading: ROC
Finished: ROC
Downloading: RST
Finished: RST
Downloading: RSW
Finished: RSW
Downloading: SAN
Finished: SAN
Downloading: SAT
Finished: SAT
Downloading: SAV
Finished: SAV
Downloading: SBD
Finished: SBD
Downloading: SDF
Finished: SDF
Downloading: SEA
Finished: SEA
Downloading: SFB
Finished: SFB
Downloading: SFO
Finished: SFO
Downloading: SJC
Finished: SJC
Downloading: SLC
Finished: SLC
Downloading: SMF
Finished: SMF
Downloading: SNA
Finished: SNA
Downloading: SRQ
Finished: SRQ
Downloading: STL
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=STL) failed with HTTP Error 407: Proxy Authorization Required
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=STL) failed with HTTP Error 407: Proxy Authorization Required
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=STL) failed with HTTP Error 407: Proxy Authorization Required
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=STL) failed with HTTP Error 407: Proxy Authorization Required
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=STL) failed with HTTP Error 407: Proxy Authorization Required
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=STL) failed with HTTP Error 407: Proxy Authorization Required
Exhausted attempts to download, returning empty data
Finished: STL
Downloading: SWF
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=SWF) failed with HTTP Error 407: Proxy Authorization Required
download_data(http://mesonet.agron.iastate.edu/cgi-bin/request/asos.py?&data=tmpf&data=dwpf&data=relh&data=feel&data=drct&data=sped&data=alti&data=mslp&data=p01i&data=vsby&data=gust_mph&tz=Etc%2FUTC&format=onlycomma&latlon=no&missing=null&trace=null&direct=no&report_type=2&year1=2017&month1=01&day1=01&year2=2019&month2=08&day2=27&&station=SWF) failed with HTTP Error 407: Proxy Authorization Required
Finished: SWF
Downloading: SYR
Finished: SYR
Downloading: TLH
Finished: TLH
Downloading: TPA
Finished: TPA
Downloading: TYS
Finished: TYS

In [4]:
# If you saved the data within a csv, load it in using this line
# weather = pd.read_csv('weather_full_unaggregated.csv')

# Otherwise:
weather = weather_df[weather_df.station != 'station']
weather.dropna(how='any', inplace=True)
weather

,station,valid,tmpf,dwpf,relh,feel,drct,sped,alti,mslp,p01i,vsby,gust_mph
0,ABQ,2017-01-01 00:52,42.10,37.90,84.93,35.63,180.00,11.50,29.87,1011.00,0.00,10.00,null
1,ABQ,2017-01-01 01:52,39.90,37.90,92.48,33.84,160.00,9.20,29.89,1011.60,0.00,10.00,null
2,ABQ,2017-01-01 02:52,39.00,36.00,88.87,35.59,120.00,4.60,29.89,1012.10,0.00,10.00,null
3,ABQ,2017-01-01 03:52,37.00,35.10,92.76,34.40,170.00,3.45,29.89,1012.50,0.00,10.00,null
4,ABQ,2017-01-01 04:52,37.00,35.10,92.76,30.27,190.00,9.20,29.89,1011.90,0.00,10.00,null
5,ABQ,2017-01-01 05:52,37.90,35.10,89.53,32.64,160.00,6.90,29.90,1012.20,0.00,10.00,null
6,ABQ,2017-01-01 06:52,37.00,35.10,92.76,33.26,180.00,4.60,29.89,1011.00,0.00,10.00,null
7,ABQ,2017-01-01 07:52,37.00,35.10,92.76,32.33,130.00,5.75,29.88,1010.30,0.00,10.00,null
8,ABQ,2017-01-01 08:52,37.90,35.10,89.53,33.40,170.00,5.75,29.88,1010.00,0.00,10.00,null
9,ABQ,2017-01-01 09:52,36.00,35.10,96.49,30.35,130.00,6.90,29.88,1010.20,0.00,10.00,null
10,ABQ,2017-01-01 10:52,35.10,33.10,92.32,30.08,140.00,5.75,29.86,1009.60,0.00,10.00,null
11,ABQ,2017-01-01 11:52,36.00,33.10,89.09,32.09,140.00,4.60,29.85,1009.20,0.00,10.00,null
12,ABQ,2017-01-01 12:52,36.00,33.10,89.09,33.26,150.00,3.45,29.84,1009.60,0.00,10.00,null
13,ABQ,2017-01-01 13:52,36.00,34.00,92.35,31.15,290.00,5.75,29.85,1010.20,0.00,10.00,null
14,ABQ,2017-01-01 14:52,36.00,34.00,92.35,29.65,160.00,8.05,29.85,1010.20,0.00,10.00,null
15,ABQ,2017-01-01 15:52,37.90,35.10,89.53,31.38,180.00,9.20,29.86,1010.50,0.00,10.00,null
16,ABQ,2017-01-01 16:52,39.90,36.00,85.81,35.04,190.00,6.90,29.87,1010.50,0.00,10.00,null
17,ABQ,2017-01-01 17:52,43.00,36.00,76.12,37.19,190.00,10.35,29.86,1009.60,0.00,10.00,null
18,ABQ,2017-01-01 18:52,45.00,35.10,68.05,40.13,190.00,9.20,29.82,1008.40,0.00,10.00,null
19,ABQ,2017-01-01 19:52,46.90,34.00,60.61,42.04,190.00,10.35,29.78,1006.50,0.00,10.00,null
20,ABQ,2017-01-01 20:52,48.00,32.00,53.67,45.40,200.00,5.75,29.73,1004.70,0.00,10.00,null
21,ABQ,2017-01-01 21:52,48.90,30.00,47.85,47.16,null,4.60,29.72,1004.30,0.00,10.00,null
22,ABQ,2017-01-01 22:52,48.90,32.00,51.89,44.53,200.00,10.35,29.73,1005.00,null,10.00,null
23,ABQ,2017-01-01 23:52,46.00,34.00,62.71,40.52,210.00,11.50,29.75,1005.90,0.00,10.00,null
24,ABQ,2017-01-02 00:52,45.00,37.00,null,null,null,null,29.79,1007.10,null,10.00,null
25,ABQ,2017-01-02 01:49,41.00,39.20,93.24,41.00,0.00,0.00,29.81,null,null,10.00,null
26,ABQ,2017-01-02 01:52,42.10,39.90,91.84,42.10,0.00,0.00,29.81,1008.30,null,10.00,null
27,ABQ,2017-01-02 02:52,42.10,37.90,84.93,40.23,20.00,3.45,29.82,1008.80,null,10.00,null
28,ABQ,2017-01-02 03:52,39.90,35.10,82.80,35.04,40.00,6.90,29.83,1009.10,0.00,10.00,null
29,ABQ,2017-01-02 04:52,39.90,34.00,79.25,37.72,350.00,3.45,29.84,1009.30,0.00,10.00,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29828,TYS,2019-08-26 01:53,71.10,70.00,96.32,null,120.00,3.45,30.04,1016.40,0.01,5.00,null
29829,TYS,2019-08-26 02:53,71.10,69.10,93.40,null,0.00,0.00,30.05,1016.50,0.04,10.00,null
29830,TYS,2019-08-26 03:53,71.10,69.10,93.40,null,120.00,3.45,30.04,1016.40,0.00,10.00,null
29831,TYS,2019-08-26 04:53,72.00,68.00,87.24,null,0.00,0.00,30.04,1016.20,0.00,10.00,null
29832,TYS,2019-08-26 05:53,72.00,69.10,90.59,null,0.00,0.00,30.03,1015.90,0.00,10.00,null
29833,TYS,2019-08-26 06:47,71.60,69.80,94.06,null,70.00,4.60,30.01,null,0.00,8.00,null
29834,TYS,2019-08-26 06:53,71.10,69.10,93.40,null,60.00,5.75,30.01,1015.20,0.00,6.00,null
29835,TYS,2019-08-26 07:07,71.10,69.10,93.40,null,30.00,5.75,30.01,null,0.00,8.00,null
29836,TYS,2019-08-26 07:18,71.10,69.10,93.40,null,null,4.60,30.01,null,0.00,10.00,null
29837,TYS,2019-08-26 07:53,71.10,69.10,93.40,null,360.00,3.45,30.01,1015.20,0.00,10.00,null
29838,TYS,2019-08-26 08:39,71.10,69.10,93.40,null,360.00,4.60,30.01,null,0.00,10.00,null
29839,TYS,2019-08-26 08:53,71.10,69.10,93.40,null,340.00,5.75,30.02,1015.30,0.00,10.00,null
29840,TYS,2019-08-26 09:26,70.00,68.00,93.37,null,10.00,4.60,30.02,null,0.00,10.00,null
29841,TYS,2019-08-26 09:53,70.00,64.90,83.86,null,40.00,4.60,30.02,1015.40,null,8.00,null
29842,TYS,2019-08-26 10:53,69.10,66.00,89.86,null,40.00,3.45,30.03,1015.80,null,10.00,null
29843,TYS,2019-08-26 11:53,69.10,64.90,86.48,null,20.00,4.60,30.03,1016.00,0.00,10.00,null
29844,TYS,2019-08-26 11:58,69.10,64.90,86.48,null,20.00,4.60,30.03,null,0.00,10.00,null
29845,TYS,2019-08-26 12:53,70.00,66.00,87.14,null,20.00,3.45,30.04,1016.40,0.00,10.00,null
29846,TYS,2019-08-26 13:53,70.00,66.00,87.14,null,350.00,4.60,30.05,1016.50,0.01,10.00,null
29847,TYS,2019-08-26 14:53,71.10,66.90,86.59,null,340.00,4.60,30.05,1016.60,null,10.00,null
29848,TYS,2019-08-26 15:53,72.00,66.90,83.99,null,330.00,4.60,30.05,1016.50,null,10.00,null
29849,TYS,2019-08-26 16:53,73.00,66.90,81.20,null,350.00,3.45,30.03,1016.00,0.00,10.00,null
29850,TYS,2019-08-26 17:53,73.90,66.00,76.36,null,10.00,5.75,30.02,1015.70,0.00,10.00,null
29851,TYS,2019-08-26 18:53,75.00,66.00,73.59,null,110.00,3.45,30.00,1015.10,null,10.00,null
29852,TYS,2019-08-26 19:53,73.90,66.90,78.77,null,330.00,4.60,30.00,1014.70,null,10.00,null
29853,TYS,2019-08-26 20:53,72.00,68.00,87.24,null,330.00,4.60,29.99,1014.50,0.02,9.00,null
29854,TYS,2019-08-26 21:39,71.10,68.00,89.94,null,300.00,4.60,29.99,null,0.02,7.00,null
29855,TYS,2019-08-26 21:53,71.10,66.00,83.93,null,310.00,3.45,29.99,1014.40,0.04,6.00,null
29856,TYS,2019-08-26 22:53,70.00,64.90,83.86,null,270.00,3.45,29.98,1014.40,0.02,10.00,null
29857,TYS,2019-08-26 23:53,70.00,66.90,89.90,null,260.00,5.75,29.99,1014.80,0.01,10.00,null

In [5]:
weather = weather.rename(columns = {'station':'Airport', 'valid':'Date', 'tmpf':'Temperature', 'feel': 'Apparent Temperature', \
                          'dwpf':'Dew Point Temp', 'relh':'Relative Humidity %', 'drct':'Wind Direction (degrees from N)', \
                          'sped':'Wind Speed', 'p01i':'One Hour Precipitation', 'alti':'Pressure Altimeter', 'mslp':'Sea Level Pressure', \
                          'vsby':'Visibility', 'gust_mph':'Gust'})
weather['Date'] = weather['Date'].astype('datetime64[ns]')
weather.head()

,Airport,Date,Temperature,Dew Point Temp,Relative Humidity %,Apparent Temperature,Wind Direction (degrees from N),Wind Speed,Pressure Altimeter,Sea Level Pressure,One Hour Precipitation,Visibility,Gust
0,ABQ,2017-01-01 00:52:00,42.10,37.90,84.93,35.63,180.00,11.50,29.87,1011.00,0.00,10.00,null
1,ABQ,2017-01-01 01:52:00,39.90,37.90,92.48,33.84,160.00,9.20,29.89,1011.60,0.00,10.00,null
2,ABQ,2017-01-01 02:52:00,39.00,36.00,88.87,35.59,120.00,4.60,29.89,1012.10,0.00,10.00,null
3,ABQ,2017-01-01 03:52:00,37.00,35.10,92.76,34.40,170.00,3.45,29.89,1012.50,0.00,10.00,null
4,ABQ,2017-01-01 04:52:00,37.00,35.10,92.76,30.27,190.00,9.20,29.89,1011.90,0.00,10.00,null

In [6]:
weather_a = weather[['Temperature', 'Dew Point Temp', 'Relative Humidity %', 'One Hour Precipitation', \
                              'Wind Speed', 'Pressure Altimeter', 'Sea Level Pressure']]
weather_a = weather_a.apply(pd.to_numeric, errors='coerce')
weather_a.insert(0, 'Airport', weather['Airport'])
weather_a.insert(1, 'Date', weather['Date'])

In [7]:
airports = stations
def aggregation(weather):

    weather_aggregated = pd.DataFrame()
    
    # Aggregate each airport by day
    for a in airports:
        each_airport = weather[weather['Airport'] == a]
        each_airport = each_airport.groupby([each_airport['Date'].dt.date]).mean().round(2)
        each_airport.insert(0, 'Airport', a)
        weather_aggregated = pd.concat([weather_aggregated, each_airport])
        
    return weather_aggregated

In [8]:
weather_aggregated = aggregation(weather_a)
weather_aggregated = weather_aggregated.rename(columns={'One Hour Precipitation': 'Average Precipitation'})
weather_aggregated.head()

,Airport,Temperature,Dew Point Temp,Relative Humidity %,Average Precipitation,Wind Speed,Pressure Altimeter,Sea Level Pressure
Date,,,,,,,,
2017-01-01,ABQ,40.18,34.54,81.85,0.0,7.24,29.84,1009.46
2017-01-02,ABQ,37.20,33.07,86.50,0.0,4.60,29.92,1012.88
2017-01-03,ABQ,39.66,26.78,62.01,0.0,3.79,30.12,1019.37
2017-01-04,ABQ,42.87,26.41,54.85,0.0,6.81,30.06,1017.00
2017-01-05,ABQ,48.69,31.58,52.02,0.0,12.75,29.85,1007.69

In [9]:
weather_aggregated.to_csv('weather_full_aggregated.csv')